
	// 
	// CSS
	// --------------------------------------------------------------------------------------------
	// @site					sho.com <desktop>
	// @project			gamification
	// @file					challenge_gallery.css
	// @author				dpaul
	// @modified			04.03.13
	// @desc					rules for challenge gallery
	//
	// contents
	// 	1. isotype animation styles
	// 	2. gallery (initial/collapsed state)
	// 	3. challenge (expanded state)
	// 	4. challenge details
	//
	// --------------------------------------------------------------------------------------------
	.isotope,
	.isotope .isotope-item {
	  /* change duration value to whatever you like */
	  -webkit-transition-duration: 0.8s;
	     -moz-transition-duration: 0.8s;
	      -ms-transition-duration: 0.8s;
	       -o-transition-duration: 0.8s;
	          transition-duration: 0.8s;
	}

	.isotope {
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	      -ms-transition-property: height, width;
	       -o-transition-property: height, width;
	          transition-property: height, width;
	}

	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
	     -moz-transition-property:    -moz-transform, opacity;
	      -ms-transition-property:     -ms-transform, opacity;
	       -o-transition-property:      -o-transform, opacity;
	          transition-property:         transform, opacity;
	}
	
	/* 
	=:gallery
	------------------------------------------------------------------------------------------*/
	.challenge-gallery {
		position:relative;
		background-color:#1D1D1D; 	/* background color and border are the same, set here */
		overflow:hidden
		}
	
	
	/*
	=:FPO styles 
	------------------------------------------------------------------------------------------*/
	.include-fpo .challenge-gallery-stage, .include-spec .challenge-gallery-stage { width:660px; height:545px;}
	.include-fpo .challenge-gallery-stage { 
		background-position:1px 0px;
		background-image:url('/assets/images/gamify/FPO/challenge-gallery_660x545.jpg'); }

	.include-spec .challenge-gallery-stage { 
		background-position:-1px 0px;
		background-image:url('/assets/images/gamify/FPO/challenge-gallery-spec_660x545.jpg'); }	

	//  
	// =:challenge (collapsed) 
	// 	
	// 	<div class="challenge small isotope-item" 
	// 		data-challenge-name="Dexter%20Syncophant%20Level%201" 
	// 		style="background-image: url(http://129.228.130.82:8080/assets/images/gamify/FPO/badges/02_test_219x219.png); 
	// 		position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 2037px, 0px);
	// 	">
	// 		<div class="challenge-inner">
	// 	   		<span class="challenge-label challenge-name">
	//   			Dexter Syncophant Level 1
	//   		</span>
	// 	   		<span class="challenge-label challenge-points">
	//   			<em>100</em> Points
	//   		</span>
	// 	   		<div class="challenge-progress">
	// 	   			<div class="challenge-progress-label">73%</div>
	// 	   			<div style="display:inline;width:15px;height:200px;">
	// 	   				<canvas width="15" height="200px"></canvas>
	// 	   				<input data-width="15" data-thickness=".3" data-fgcolor="#AB1A26" data-bgcolor="#999999" data-readonly="true" data-displayinput="false" value="73" class="radial" style="display: none; width: 0px; visibility: hidden;" readonly="readonly">
	// 	   			</div>
	// 	   		</div>
  // 	   		
	// 	   		<div class="challenge-expanded-state">
	//   			<span class="challenge-closer">&nbsp;</span>
	// 	   		</div>
	// 		</div>
	// 	</div>
	// 
	// =:challenge
	// ------------------------------------------------------------------------------------------
	
	// this is used to expose the accent color to the javascript layer, for the radial progress widget and checkmark
	// changed to position:fixed because whitespace generated by span was throwing off sticky footer calculations
	#gamify-accent-color { 
		visibility:hidden;
		color:$gamify-accent;
		width:10px;
		height:10px;
		position:fixed;		
		}
		
	.challenge {
		float:left;
		position:relative;
		color:#FFF;
		background:#303030 no-repeat url(/assets/images/lib/c.png) center center; /* src is set by js */
		background-size:cover; 
		margin-right:1px;
		margin-bottom:1px;
		/*was: font-weight:400;, now: inheriting 'normal' from base styles .. */
		}
	
	.challenge.small, .challenge.small .challenge-inner{
		width:219px;
		min-height:219px;
		}
	.challenge.large, .challenge.large .challenge-inner {
		width:439px;
		min-height:439px;
		}
		
	/*
	=:name, =:seriesname */
	.challenge-series-name, .challenge-name {
		display:block;
		text-transform:uppercase;
		font-weight:600
		}
	
	.challenge-name {
		padding:16px 20px 6px 20px;
		font-size:16px;
		line-height:19px;
		}
		
		
	/*
	=:shaders, =:badgeless 
	We will need a shader effect for two types of challenges:
	1) un-earned challenges, when in the 'my achievements/badge-gallery context 
	2) badge-less challenges that make use of batch images  */
	.challenge-inner.no-badge {
		background-color: rgba(0,0,0,0.5); 
		}
	
	.badge-gallery .challenge.complete    .challenge-inner {}	
	.badge-gallery .challenge.not-started .challenge-inner, 	
	.badge-gallery .challenge.in-progress .challenge-inner {
		background-color: rgba(0,0,0,0.2); 
		}
		
	.badge-gallery .challenge.challenge-focused .challenge-inner {
		}
		
	/*
	=:redemption */
	.item-gallery .challenge .challenge-inner {
		background-color:rgba(0,0,0,0.15); // very transparent shader for item catalog
	}
				
	/*
	=:errors */
	.challenge-gallery.error {
		width:auto;
		background:none;
		margin:20px;
		height:150px;
		padding:20px;
		border:red solid 2px;
		font-size:24px;
		color:red;
		}
		
	/*
	=:points, =:price */
	.challenge-points, .challenge-progress {
		position:absolute;
		bottom:18px;
		width:100px;
		height:15px; 
		line-height:19px;
		font-size:12px;
		color:#818181;
		}
		
	.challenge-points {
		left:19px;
		}
		
	.challenge-points em {
		// dexter red color:#AB1A26;
		color:$gamify-accent;
		}
	
	.challenge-limited-availability {
		padding:16px 20px 6px 20px;
		font-size:14px;
		color:$gamify-accent;
		}
		
	/*
	=:progress */
	.challenge-progress {
		right:19px; 
		text-align:right; /* snap input to right */        
		}
		
	.challenge-progress .challenge-progress-label {
		position:absolute;
		bottom:0px;
		right:20px;
		width:80px;
		height:15px;           
		}

	/*
	=:checkmark */
	.challenge-progress-completed-state {
		width:15px; height:15px;
		}
	
	.challenge-progress canvas {
		margin-top:2px; /* vert align w/ text in label */
		}
			
	.challenge-progress input {
		border:none;
		outline:none;
		background-color:transparent;
		color:#FFF;
		}
	
	.ie8 .challenge-progress input {
		display:none;
		}
		
	/* 
	=:completed */
		
	.challenge-closer {
		position:absolute; 
		top:1px; right:1px;
		display:block;
		width:31px; 
		height:31px;
		cursor:pointer;
		background:transparent no-repeat url(/assets/images/gamify/challenge_details/closer_31x31.png) top left;
		}
		
	
	/*
	=:expanded challenge
	------------------------------------------------------------------------------------------*/
	
	/* initial state */
	.challenge .challenge-name, .challenge .challenge-series-name { 
		display:none 
		}
	
	.challenge .no-badge .challenge-name, 
	.challenge .no-badge .challenge-series-name {
		display:block; /* only badge-less challenges should show the name in the initial state */
		}
		
	.challenge .challenge-closer { 
		display:none
		}
	
	.challenge .challenge-expanded-state {
		display:none;
		}
		
		
	/* expanded state */
	
	.challenge.expanded .challenge-inner {
		background-image:none !important;
		background-color:transparent !important;
		}
		
	.challenge.expanded .challenge-closer {
		display:block;
		}
		
	.challenge.expanded .challenge-label,	
	.challenge.expanded .challenge-progress {
		display:none;
		}
		
	.challenge.expanded {
		width:100%;
		padding:98px 0px;
		min-height:350px; /* was 300 */ 
		background-image:none !important;
		}
		
	/* =:loading - we may not need this, since the time it takes to expand and focus the challenge 
	is close to the latency we're experiencing for the nitro call, but it's here just in case  */
	.challenge.expanded.loading {
		background-size:48px 48px !important;
		background-image:url(/assets/images/lib/spinners/balls_303030_48x48.gif) !important;
		}
	
	.challenge.expanded .challenge-inner {
		margin:0px auto;
		padding:0;
		width:620px; 
		min-height:300px;
		}
	
	.challenge .challenge-expanded-state {
		position:relative;
		top:0px; left:0px;
		width:620px;
		min-height:300px;
		}
		
	.include-debug .challenge-expanded-state {
		outline:purple solid 1px;
		}	
	/* No surrender, No delete! */