
    // CSS
    // ------------------------------------------------------------------------------------------
    // @site				sho.com <common>
    // @project      		timber
    // @file				_success.scss
    // @author				dmccleod
    // @modified			09.26.14
    // @desc				redemption success classes
    // ---------------------------------------------------------------------------------------- 

    $button-margin: 20.5%;

    .success-product-wrap {
        .item-details {
            background: #000;
            padding: 50px 90px;
            margin-top: 0;
            .item-details__details {
                padding-top: 35px;
                width: 70%;
            }
            .item-details__price {
                display: none;
            }                
        }
        h4 {
            line-height: 22px;
            margin-bottom: 22px;
        }
        a { 
            color: #fff;            
        }            
        .button {
            width: 24%;
            &.u-float-l {
               margin-left: $button-margin;
            }
            &.u-float-l:hover {
               text-decoration:none;
            }
            &.u-float-r {
               margin-right: $button-margin;
            }
            &.u-float-r:hover {
               text-decoration:none;
            }
        }            
        .sub-header {
              text-align: center;
              margin-bottom: 10px;
        } 
        .item-details__price {
            text-align: center;
            }                
    }  
    
    .success-messaging {
        margin-top: 75px;
        text-align: center;
        .messaging-header {
           margin-bottom:20px;
           display:block;
                          
        } 
        padding-bottom: 24px;
        .sub-header {                  
              margin-bottom: 0;
        }               
    }
